/* global.css */

/* Asegura que el body y html no generen scrolls globales */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.slide {
  width: 100vw;
  height: 100vh;
  padding: 40px; /* ajusta si quieres más o menos margen interno */
  box-sizing: border-box;
  position: relative;
  overflow: hidden; /* sin scroll global */
  display: flex;
  flex-direction: column;
}

.logo-small {
            position: absolute;
            top: 30px;
            right: 40px;
            font-size: 40px;
            font-weight: bold;
            font-family: 'Dongle', sans-serif;
}
.logo-small .new {
            color: #7021CC;
        }
        .logo-small .little {
            color: #FF9D00;
        }